image:
  registry: docker.io
  repository: bitnami/odoo
  tag: 18.0.20251005-debian-12-r0

odooEmail: {{ odoo_email | default('admin@cogip.local') }}
odooPassword: "{{ vault_odoo_password }}"

replicaCount: {{ odoo_replica_count | default(1) }}

resources:
  requests:
    cpu: {{ odoo_cpu_request | default('500m') }}
    memory: {{ odoo_memory_request | default('512Mi') }}
  limits:
    cpu: "{{ odoo_cpu_limit | default('1') }}"
    memory: {{ odoo_memory_limit | default('1Gi') }}

service:
  type: ClusterIP
  ports:
    http: 8069

persistence:
  enabled: true
  storageClass: {{ nfs_storage_class | default('nfs-client') }}
  size: {{ odoo_pv_size | default('5Gi') }}

postgresql:
  enabled: true
  auth:
    postgresPassword: "{{ vault_pg_password }}"
    database: {{ pg_database | default('odoo') }}
  primary:
    persistence:
      enabled: true
      storageClass: {{ nfs_storage_class | default('nfs-client') }}
      size: {{ pg_pv_size | default('5Gi') }}
    resources:
      requests:
        cpu: {{ pg_cpu_request | default('250m') }}
        memory: {{ pg_memory_request | default('256Mi') }}
      limits:
        cpu: {{ pg_cpu_limit | default('500m') }}
        memory: {{ pg_memory_limit | default('512Mi') }}

ingress:
  enabled: false
